/*font-family: 'Yatra One', cursive;
*/

#contenidos{

	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
	background: yellow;

}

/*etiquetas*/

body{

	background-image: url(../Img/fondo2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

h1{
	font-family: 'Yatra One', cursive;
	margin-left: 10px;
	font-size: 60px;
	text-align: center;
}
h2{
	font-family: 'Yatra One', cursive;
	margin-left: 10px;
	font-size: 20px;
	text-align: center;

}

header{

	width: 1000px;
	height: 200px;
	background: rgb(255, 255, 255, 3);
}


nav{

	width: 1000px;
	height: 50px;
	background: green;
	border-radius: 10px;

}


ul{
	margin: auto;
	padding-top: 4px;
}

li{

	float: left;
	list-style-type: none;
	padding: 10px;
	background: black;
	margin: 3px;
	border-radius: 10px;
	box-shadow: 0 0 10px white inset;

}

section{
width: 700px;
background: white;
height: 600px;
float-left;
margin-top: 20px;
}

footer{
	width: 1000px;
	height: 30px;
	background: orange;
	float-left;
	margin-top: 20px;

}



/*clases*/
.ancho_menu_home{width: 900px;}
.ancho_menu_home{width: 970px;}

.menu:link{color: white; text-decoration: none;}
.menu:visited{color: white;text-decoration: none;}
.menu:hover{color: white; text-decoration: none; text-shadow: 0 0 10px white inset;}
.menu:active{color: white; text-decoration: none;}

/*seudo clases*/



